{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ setup.title|default:'Название сайта' }}{% endblock %}</title>
{% block meta %}
  <meta name="description" content="{{ setup.meta_desc|default:'' }}">
  <meta name="keywords" content="{{ setup.meta_key|default:'' }}">
{% endblock %}
  <script src="{% static 'js/lib/jquery-1.11.2.min.js' %}"></script>
{#  <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>#}
  <script src="{% static 'js/lib/jquery.form.js' %}"></script>
  <script src="{% static 'js/lib/jquery.fancybox.pack.js' %}"></script>
  <script src="{% static 'js/lib/jquery.maskedinput.js' %}"></script>
  <script src="{% static 'js/lib/jquery.validate.js' %}"></script>
  <script src="{% static 'js/lib/jquery.flexslider-min.js' %}"></script>
  <script src="{% static 'js/lib/notify-combined.min.js' %}"></script>
  <script src="{% static 'js/lib/jquery.viewportchecker.js' %}"></script>
  <script src="{% static 'js/lib/scrollup.js' %}"></script>
  <script src="{% static 'js/common.js' %}?v=8"></script>
{#  {{ SETUP.top_js|safe|default:'' }}#}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu+Condensed" />
  <link href="{% static 'css/franchise.css' %}?v=6" rel="stylesheet">
{% block top_js %}
{% endblock %}
  {{ setup.top_js|safe|default:'' }}
</head>
<body>
{% block header %}
  <header class="header">
    <a name="top"></a>
    <div class="header-top">
      <div class="container_12">
        <div class="grid_3">
          <a href="{% url 'website:index' %}" title="" class="header-logotype">
            <img src="{% static 'img/logotype.png' %}" alt="Логотип">
          </a>
        </div>
        <div class="grid_6 text-center">

          <div class="header-nav">
            <ul>
              <li><a href="#js-franchise-five">Преимущества</a></li>
              <li><a href="#js-franchise-three">Стоимость</a></li>
              <li><a href="#js-franchise-clients">Примеры</a></li>
              <li><a href="#js-franchise-five">Контакты</a></li>
            </ul>
          </div>
        </div>
        <div class="grid_3">
          <div class="header-phone">{{ setup.phone|default:'8 800 775 18 45' }}</div>
        </div>
        <div class="clearfix"></div>
        <div class="grid_5 screen">
          <img src="{% static 'img/lift.png' %}" alt="" class="header-lift">
        </div>
        <div class="grid_7">
          <div class="header__title-block">
            <h1 class="header__title text-center">
                <span class="red">Яркий</span> бизнес<br> на рекламе <br> в лифтах новостроек!
            </h1>
            <p class="header__desc text-center">
              Зарабатывай от <strong>50000р</strong> с одного жилого комплекса
            </p>
            <p class="header__desc_title text-center">
              Увеличь доход<br> на примере компании <br> "АРТ-ЛИФТ"
            </p>
            {% if setup.video %}
            <div class="header-video">
              {{ setup.video|safe }}
{#              <iframe width="600" height="200" src="https://www.youtube.com/embed/11GRVbBYsK4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>#}
            </div>
            {% endif %}
            <div class="text-center">
              <a href="#bp-modal-download" class="js-modal-bp-download-btn bp__button animate">
                Скачать бизнес-план
              </a>
            </div>
          </div>

        </div>
        <div class="clearfix"></div>
          <div class="franchise-calc">
            <div class="grid_6 calc-line">
                <label for="lift_count">Введите количество лифтов городе</label> <input type="number" value="1000" name="lift_count" id="lift_count">
            </div>
            <div class="grid_6 calc-line">
                <label for="dohod">Ваш доход</label> <input type="number" name="dohod" value="5000000" id="dohod" readonly>
            </div>
            <div class="grid_12 calc-line">
                <label for="price">Стоимость франшизы</label> <input type="number" name="price" value="150000" id="price" readonly>
            </div>
            <div class="grid_6 calc-line">
                <label for="investition">Первоначальные инвестиции</label> <input type="number" value="0" name="investition" id="investition" readonly>
            </div>
            <div class="grid_6 calc-line">
                <label for="vznos">Паушальный взнос</label> <input type="number" value="0" name="vznos" id="vznos" readonly>
            </div>
            <div class="grid_12 text-center">
                <a href="#modal-form" class="button js-main-ticket-button">Рассчитать</a>
            </div>
            <div class="clearfix"></div>
          </div>
      </div>
    </div>
  </header>
{% endblock %}
{% block content %}

  <section class="franchise-first">
    <div class="container_12">
      <div class="franchise-first-container">
        <div class="grid_7">
          <h2 class="franchise__title franchise__title_blue">НОВАЯ МОДЕЛЬ РАЗМЕЩЕНИЯ РЕКЛАМЫ В ЛИФТЕ!</h2>
        </div>
        <div class="clearfix"></div>
        <div class="grid_7">
          <p class="franchise-first__text text-center">
            ЗАЩИТА ПОВЕРХНОСТИ ЛИФТА <br> ОТ РАЗЛИЧНЫХ ПОВРЕЖДЕНИЙ, <br>
            КОТОРАЯ ПОЛНОСТЬЮ МЕНЯЕТ <br>
            ЕГО ОБЛИК
          </p>
          <ul class="franchise-first-list">
          {% for item in block1 %}
            <li class="franchise-first-list-item">
              <p class="franchise-first-list-item__text">{{ item.text|safe|linebreaksbr }}</p>
            </li>
          {% endfor %}
          </ul>
        </div>
        <div class="clearfix"></div>
        <div class="grid_12 text-center">
          <p class="franchise-first__subtext text-center">
            С нами это возможно!
          </p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </section>

  <section class="franchise-ticket" id="js-ticket-franchise">
    <div class="container_12">
      <div class="grid_12">
        <h2 class="franchise__title franchise__title_blue text-center">УЗНАТЬ УСЛОВИЯ</h2>
          {% include '__includes/form_main.html' %}
      </div>
      <div class="clearfix"></div>
    </div>
  </section>

  <section class="franchise-clients" id="js-franchise-clients">
    <div class="container_12">
      <div class="grid_12">
        <h2 class="franchise__title franchise__title_blue franchise-clients__title text-center">НАШИ КЛИЕНТЫ</h2>
        <ul class="franchise-clients-list">
        {% for item in client_list %}
          <li class="franchise-clients-list-item">
{#              <img src="{{ STATIC_URL }}img/client{{ forloop.counter }}.jpg" alt="" class="franchise-our-clients-list-item__img">#}
            <a href="{{ item.img.url }}" class="js-gallery" rel="clients">
              <img src="{{ item.img.url }}" alt="" class="franchise-clients-list-item__img animate">
            </a>

          </li>
        {% endfor %}
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </section>

  <section class="franchise-second">
    <div class="container_12">
      <div class="grid_12">
        <h2 class="franchise__title franchise-second__title franchise__title_white">КУПИВ НАШУ ТЕХНОЛОГИЮ ВЫ ПОЛУЧИТЕ</h2>
      </div>
      <div class="clearfix"></div>
      <div class="container_12 franchise-second-block">
        <div class="grid_7">
          <ul class="franchise-second-list">
          {% for item in block3 %}
            <li class="franchise-second-list-item">
              <p class="franchise-second-list-item__text">
                {{ item.text|safe|linebreaksbr }}
              </p>
            </li>
          {% endfor %}
          </ul>
        </div>
        <div class="clearfix"></div>
        <div class="franchise-second-img screen">
          <img src="{% static 'img/franchise_second_img.png' %}" alt="" >
        </div>

      </div>
    </div>
  </section>

  <section class="franchise-three" id="js-franchise-three">
    <div class="container_12">
      <div class="grid_12 text-center">
        <h2 class="franchise__title franchise__title_blue franchise-three__title">
          СТОИМОСТЬ УСЛУГИ
        </h2>
      </div>
      <div class="grid_12">
        <table class="franchise-three-table">
          <tr class="franchise-three-table__tr">
            <td class="franchise-three-table__td franchise-three-table__td_name"></td>
            {% for complect in block41 %}
              <td class="franchise-three-table__td franchise-three-table__td_value">{{ complect.name }}</td>
            {% endfor %}
          </tr>
          {% for item in block4 %}
          <tr class="franchise-three-table__tr">
            <td class="franchise-three-table__td franchise-three-table__td_name">{{ item.text }}</td>
            {% for complect in block41 %}
              <td class="franchise-three-table__td franchise-three-table__td_value">
                {% if item.id in complect.item_id_list %}+{% else %}-{% endif %}
              </td>
            {% endfor %}
          </tr>
          {% endfor %}
          <tr class="franchise-three-table__tr">
            <td class="franchise-three-table__td franchise-three-table__td_name"></td>
            {% for complect in block41 %}
              <td class="franchise-three-table__td franchise-three-table__td_value">{{ complect.cost }} <del><span>P</span></del></td>
            {% endfor %}
          </tr>
        </table>
      </div>
      <div class="grid_12">
        <h2 class="franchise__title franchise__title_blue franchise-three__title text-center">Дополнительные услуги</h2>
        <div class="franchise-three-additional">
          <ul class="franchise-three-list">
          {% for item in block5 %}
            <li class="franchise-three-list-item">
              <div class="franchise-three-list-item__left">
                {{ item.text|safe|linebreaksbr }}
              </div>
              <div class="franchise-three-list-item__right">
                {{ item.price }}
              </div>
            </li>
          {% endfor %}
          </ul>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </section>

  <section class="franchise-four">
    <div class="container_12">
      <div class="grid_12 text-center">
        <h2 class="franchise__title franchise__title_blue">С ЧЕГО НАЧАТЬ СОТРУДНИЧЕСТВО С НАМИ?</h2>
      </div>
      <div class="franchise-four-list text-center">
        <div class="grid_3 grid_half">
          <a href="#js-ticket-franchise" class="franchise-four-list-item blue">
            <div class="franchise-four-list-item__icon">
              <img src="{% static 'img/ticket.png' %}" alt="">
            </div>
            <p class="franchise-four-list-item__text animate">
                ОСТАВЬТЕ <br>ЗАЯВКУ
            </p>
          </a>
        </div>
        <div class="grid_3 grid_half">
          <a href="#js-ticket-franchise" class="franchise-four-list-item blue">
            <div class="franchise-four-list-item__icon">
              <img src="{% static 'img/consult.png' %}" alt="">
            </div>
            <p class="franchise-four-list-item__text animate">
              МЫ <span class="">БЕСПЛАТНО</span><br> <span class="">ПРОКОНСУЛЬТИРУЕМ</span> <br> ВАС
            </p>
          </a>
        </div>
        <div class="grid_3 grid_half">
          <a href="#js-ticket-franchise" class="franchise-four-list-item blue">
            <div class="franchise-four-list-item__icon">
              <img src="{% static 'img/dogovor.png' %}" alt="">
            </div>
            <p class="franchise-four-list-item__text animate">
              ЗАКЛЮЧАЕМ<br> ДОГОВОР
            </p>
          </a>
        </div>
        <div class="grid_3 grid_half">
          <a href="#js-ticket-franchise" class="franchise-four-list-item blue">
            <div class="franchise-four-list-item__icon">
              <img src="{% static 'img/like.png' %}" alt="">
            </div>
            <p class="franchise-four-list-item__text animate">
              ЗАПУСКАЕМ<br> ПРОЕКТ!
            </p>
          </a>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </section>

  <section class="franchise-five" id="js-franchise-five">
    <div class="container_12">
      <div class="grid_8 column">
        <h2 class="franchise__title franchise__title_blue franchise-five__title text-center">ПРЕИМУЩЕСТВА</h2>
        <ul class="franchise-five-list">
        {% for item in block6 %}
          <li class="franchise-five-list-item">
            {{ item.text|safe|linebreaksbr }}
          </li>
        {% endfor %}
        </ul>
      </div>
      <div class="grid_4">
        <address class="franchise-five-address column">
          <p class="franchise__title franchise__title_white franchise-five__title">Контакты</p>
          <ul class="franchise-five-address-list">
            <li class="franchise-five-address-list-item">
              {{ setup.phone1|default:'8 (4422) 243-200' }} <br>
              {{ setup.phone|default:'8 800 775 18 45' }}
            </li>
            <li class="franchise-five-address-list-item">
              <a href="http://{{ setup.site|default:'Арт-лифт.рф' }}">{{ setup.site|default:'Арт-лифт.рф' }}</a> <br>
              <a href="http://{{ setup.site1|default:'Art-lift.ru' }}">{{ setup.site1|default:'Art-lift.ru' }}</a>
            </li>
            <li class="franchise-five-address-list-item">
              {{ setup.email|default:'fr@art-lift.ru' }}
            </li>
            <li class="franchise-five-address-list-item">
              {{ setup.address|safe|linebreaksbr|default:'' }}
            </li>
          </ul>
        </address>
      </div>
      <div class="clearfix"></div>
    </div>
  </section>
{% endblock %}

<div id="modal-form">
{#  <p class="text-center">оставьте ваш емейл и мы <br> пришлём вам все возможные варианты франшиз</p>#}
  <p class="text-center">
    Ваш потенциальный доход - <span id="js-dohod-val"></span> <span>руб.</span> <br><br>
    Для более точного расчёта и формирования <br>
    индивидуального предложения оставьте заявку</p>
  <form action="{% url 'ticket:calc' %}" method="post" class="modal-form js-modal-calc-form text-center">{% csrf_token %}
    <div>
      <input type="text" name="name" id="id_name" class="input" placeholder="Ваше имя">
    </div>
    <div>
      <input type="text" name="phone" id="id_phone" class="input" placeholder="Ваш номер телефона">
    </div>
    <div>
      <input type="email" name="email" id="id_email" class="input" placeholder="Ваш e-mail">
    </div>
    <div>
      <input type="submit" value="Отправить" class="button">
    </div>
  </form>
</div>
<div id="bp-modal-download">
  <p class="text-center">Чтобы скачать Бизнес-План<br> оставьте ваш email и телефон </p>
  <form action="{% url 'download:send' %}" id="js-form-bp-download" method="post" class="bp-download-form text-center">
    <div>
      <input type="text" name="phone" id="id_phone" class="input" placeholder="Ваш номер телефона">
    </div>
    <div>
      <input type="email" name="email" id="id_email" class="input" placeholder="Ваш e-mail">
    </div>
    <div>
      <input type="submit" value="Отправить" class="button">
    </div>
  </form>
</div>

<div id="scrollup"><img alt="Прокрутить вверх" src="{% static 'img/up.png' %}"></div>
{{ setup.bottom_js|safe|default:'' }}
</body>
</html>